{{- define "featured" }}
    {{ .Render "list/header" }}
{{ end }}

{{- define "main" -}}
    {{- $page := . -}}
    {{- $sections := $.Scratch.Get "sections" -}}
    {{- $fullCover := $.Scratch.Get "fullCover" -}}
    {{- $layout := $page.Params.layout -}}

    <div class="container-xxl p-3 px-xxl-0">
        {{- if ne $layout "featured" -}}
            {{ if and (not $page.IsHome) site.Params.navigation.breadcrumb }}
                <div>{{ partial "assets/breadcrumb.html" (dict "page" $page) }}</div>
            {{ end -}}
        {{- end -}}
        {{- if .IsSection }}
        <div class="category-description-container">
            <div class="category-description" id="categoryDescription">
                {{ .Render "list/body" }}
            </div>
            <div class="read-more-overlay"></div>
            <div class="text-center mt-2">
                <button class="btn btn-primary" id="toggleDescriptionBtn">
                    <span class="btn-text">Xem Chi Tiết</span>
                </button>
            </div>
        </div>
        {{- end }}
        {{ .Render "list/footer" }}
    </div>

    {{/* Display generated sections */}}
    {{ range $sections }}
        {{ .content | safeHTML }}
    {{ end }}

    {{/* Fill remaining space to push page footer to viewport bottom */}}
    <div class="container-fluid flex-fill"></div>
    {{ if .IsSection }}
    <script src="{{ "js/description.js" | relURL }}"></script>
{{ end }}
{{- end -}}
