@font-face {
     font-display: swap;
     font-family: forma-djr-micro;
     font-weight: 400;
     src:  url(../fonts/FormaDJRCyrillicMicro-Regular.woff2) format('woff2'),
           url(../fonts/FormaDJRCyrillicMicro-Regular.woff) format("woff");
   }