// Placeholder to quickly add your own styles
// The file is included last in the build pipeline

h1,
h2,
h3,
h4,
h5,
h6,
.display-1,
.display-2,
.display-3,
.display-4,
.display-5,
.display-6 {
    font-size: 21px;
    margin-bottom: 19px;
    font-weight: bold;
}

.card-text {
    display: none;
}

// footer
.footer {
    background-color: #1e2c2a;
    color: #9aa8b3 !important
}

.link-bg-footer {
    color: #9aa8b3 !important
}

/* Áp dụng cho toàn bộ liên kết */
a {
    color: #262db7 !important;
  }
  
  a:hover,
  a:focus {
    color: #1f279f !important;
  }
  
  /* Ghi đè cho các link trong navigation */
  .navbar a,
  .navbar a:hover,
  .navbar a:focus {
    color: #ffffff !important; /* hoặc màu bạn mong muốn, ví dụ màu trắng */
  }
  
  .dropdown-menu {
    --bs-dropdown-color: #090a0a;  /* Màu chữ trong submenu */
    --bs-dropdown-bg: #0c0c0c;     /* Màu nền submenu */
    --bs-dropdown-link-hover-bg: #7b4f1f;
  }
  